#!/bin/bash

kill_temporal() {
  echo Killing temporal...
  docker kill temporal
  docker rm temporal
}

# --env TEMPORAL_TLS_FRONTEND_CERT=/temporal/server_cert.pem \
#    --env TEMPORAL_TLS_FRONTEND_KEY=/temporal/private_key.pem \
#    --env TEMPORAL_TLS_REQUIRE_CLIENT_AUTH=${require_client_auth} \
#    --env TEMPORAL_TLS_CLIENT1_CA_CERT=/temporal/client_cert.pem \

start_temporal() {
  echo Starting temporal...
  docker run -d -v temporal:/temporal \
    --restart always \
    --name temporal \
    --env ALLOW_PLAINTEXT_LISTENER=yes \
    --env DB=postgres \
    --env DB_PORT=5432 \
    --env AUTO_SETUP=true \
    --env POSTGRES_USER=${postgres_username} \
    --env POSTGRES_PWD=${postgres_password} \
    --env POSTGRES_SEEDS=${postgres_hostname} \
    -p9200:7233 \
    -p2181:7233 \
    ${temporal_image}
  echo Copying certs...
  docker cp server_cert.pem temporal:/temporal
  docker cp client_cert.pem temporal:/temporal
  docker cp private_key.pem temporal:/temporal
}

kill_temporal

start_temporal
